[Unit]
Description=Gunicorn server for flux

[Service]
Restart=on-failure  
User=flux  
WorkingDirectory=/home/flux/sites/flux/source  
ExecStart=/home/flux/sites/flux/virtualenv/bin/gunicorn \
    --bind unix:/tmp/flux.socket \
    flux.wsgi:application  

[Install]
WantedBy=multi-user.target 