<!DOCTYPE html>
<html>
<head>
	<title>Congratulations | FluxFlow</title>
	<meta name="fragment" content="!">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="#338aed" />
	<link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/done.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:700" rel="stylesheet">
</head>
<body>
	<header class="done-header">
		<section class="site-header">
			<div class="header-container clearfix">
				<div class="header-logo-holder">
					<a href="/"><img src="/static/images/logo.png" class="header-logo"></a>
					<!-- <h1><a href="/">FluxFlow</a></h1> -->
				</div>
				<div class="header-action-holder">
					<a href="/aboutus" class="header-action">About Us</a>
					<button type="button" class="header-action action-solid hide-mb" onclick="showContact()">Get quote</button>
				</div>
			</div>
		</section>
		<section class="header-content">
			<div class="header-content-container">
				<div class="header-content-holder">
					<h2>Congratulations!</h2>
					<h4>You have taken your first step in going solar. We will get in touch with you soon to give you a personalised quote.</h4>
				</div>
			</div>
		</section>
	</header>

	<div class="dialog">
		<div class="dialog-container">
			<div class="dialog-content-holder">
				<img src="" class="dialog-action-close" onClick="hideContact()">
				<div class="dialog-content contact-dialog">
					<h3>Go solar now!</h3>
					<p>Enter your details below. We will get in touch with you soon and give you a personalized quote.</p>
					<form class="dialog-contact-form">
						<input type="text" name="Name" placeholder="Name">
						<input type="text" name="Mobile" placeholder="Mobile">
						<button class="dialog-contact-action">
							Get quote
						</button>
					</form>
					<p>Or you can call us on 09735565366 anytime if you prefer that.</p>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function showContact (event) {
			var dialog = document.getElementsByClassName('dialog')[0];
			dialog.className += ' open';
		}

		function hideContact (event) {
			console.log("actiiiiii")
			var dialogClose = document.getElementsByClassName('dialog')[0];
			dialogClose.classList.remove('open');
		}
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</body>
</html>