<!DOCTYPE html>
<html>
<head>
	<title>Innovative Solar solutions provider in hyderabad | FluxFlow</title>
	<meta name="fragment" content="!">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="#338aed" />
	<meta name="description" content="FluxFlow is your one stop solution to going solar. We provide full-service solar power systems for homes, businesses and governments providing custom design, financing options, installation and monitoring.">
	<link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:700" rel="stylesheet">
</head>
<body>
	<header class="landing-header">
		<section class="site-header">
			<div class="header-container clearfix">
				<div class="header-logo-holder">
					<a href="/"><img src="/static/images/logo.png" class="header-logo"></a>
					<!-- <h1>FluxFlow</h1> -->
				</div>
				<div class="header-action-holder">
					<a href="/aboutus" class="header-action">About Us</a>
					<button type="button" class="header-action action-solid hide-mb" onclick="showContact()">Get quote</button>
				</div>
			</div>
		</section>
		<section class="header-content">
			<div class="header-content-container">
				<div class="header-content-holder">
					<h2>Make the sun work for you</h2>
					<h4>FluxFlow is your one stop solution to go solar</h4>
					<button type="button" class="header-content-action" onClick="showContact(event)">Get started</button>
				</div>
			</div>
		</section>
	</header>
	<section class="content-section section1">
		<div class="content-section-container">
		<div class="content-section-holder">
			<h3>Control your <br> electricity costs</h3>
			<p>Install a solar system and save on your monthly electricity bill. Secure low electricity cost for years to come.</p>
			<img class="show-mb" src="/static/images/section1_mb.png">
		</div>
		</div>
	</section>
	<section class="content-section section2">
		<div class="content-section-container">
		<div class="content-section-holder">
			<h3>Be a climate change warrior</h3>
			<p>Solar systems generate clean energy to help reduce green house gases and combat climate change. Every kilowatt installed is equivalent to planting fifty full grown trees.</p>
		</div>
		</div>
	</section>
	<footer class="site-footer">
		<div class="footer-container">
			<h3>Go solar now!</h3>
			<p>Enter your details below. We will get in touch with you soon and give you a personalized quote</p>
			<form class="footer-contact-form" method="POST">
				{% csrf_token %}
				<input type="text" name="Name" placeholder="Name">
				<input type="text" name="Mobile" placeholder="Mobile">
				<button class="footer-contact-action">
					Get quote
				</button>
			</form>
			<p class="footer-callus">Or you can call us on 09735565366 anytime if you prefer that.</p>
			<div class="footer-creds">
				FluxFlow Ventures Private Limited
			</div>
		</div>
	</footer>

	<div class="dialog">
		<div class="dialog-container">
			<div class="dialog-content-holder">
				<img src="/static/images/cancel.svg" class="dialog-action-close" onClick="hideContact()">
				<div class="dialog-content contact-dialog">
					<h3>Go solar now!</h3>
					<p>Enter your details below. We will get in touch with you soon and give you a personalized quote.</p>
					<form class="dialog-contact-form" method="POST">
						{% csrf_token %}
						<input type="text" name="Name" placeholder="Name">
						<input type="text" name="Mobile" placeholder="Mobile">
						<button class="dialog-contact-action">
							Get quote
						</button>
					</form>
					<p>Or you can call us on 09735565366 anytime if you prefer that.</p>
				</div>
			</div>
		</div>
	</div>


	<!-- <div class="dialog">
		<div class="dialog-container">
			<div class="dialog-content-holder">
				<img src="" class="dialog-action-close">
				<div class="dialog-content"></div>
			</div>
		</div>
	</div> -->

	<script type="text/javascript">
		function showContact (event) {
			var dialog = document.getElementsByClassName('dialog')[0];
			dialog.className += ' open';
		}

		function hideContact (event) {
			console.log("actiiiiii")
			var dialogClose = document.getElementsByClassName('dialog')[0];
			dialogClose.classList.remove('open');
		}
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</body>
</html>